body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  margin-top: 50px;
  width: 250px;
}

.btn-wrapper{
  margin-top: 20px ;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

}
.my-btn{
  padding: 26px;
  width: 64px;
}

.input-screen{
  width: 198px;
  padding: 8px;
  font-size: 16px;
}
